@import "tailwindcss";

:root {
  --background: #111418;
  --primary-color: #efefef;
  --primary-color-400: #242424;
  --primary-color-300: #1c1c1c;
  --segundary-color: #948979;
  --terciary-color: #DFD0B8;

  /*TEXT COLORS*/
  --text-color-primary: #efefef;
  --text-color-primary-400: #808080;
}

.btn_primary {
  @apply text-lg w-full border-[1px] bg-[var(--primary-color-300)] hover:bg-[var(--background)] transition-colors duration-300 mt-4 border-[var(--primary-color-400)] cursor-pointer p-2 rounded-sm
}

.input_primary {
  @apply border-[1px] rounded-xs border-[var(--primary-color-400)] p-0.5 w-full
}

.shadow_primary {
  @apply shadow-black/50 shadow-lg
}

@keyframes fadeInRight {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animation-messages {
  animation: fadeInRight 0.4s ease-out;
}